<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <span class="navbar-text headerCalendar justify-content-center">
                Mi Agenda Personal
        </span>
        
        <ul class="navbar-nav justify-content-end">
                <li class="nav-item active">
                        <a class="nav-link" href="/agenda"><span class="oi oi-home" aria-hidden="true"></span>Agenda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/signup"><span class="oi oi-account-login" aria-hidden="true"></span> Sign Up</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/login"><span class="oi oi-person"></span> Login</a>
                </li>                
        </ul>        
</nav>



