
body {
  background-color: #bdc3c7;
}

nav div > h4 {
  margin: 0;
  padding-top: .5em;
}

#buscar {
  margin: 2em 0;
}

.card-content {
  padding: 20px !important;
}

.container{
  position: fixed !important;
  padding-left: 30px;
  width: 20em;
  background: white;
}

.panel {
  position: fixed;
}

.invisible {
  display: none;
}

div.lista .card:hover {
  opacity: 0.8;
  cursor: pointer;
}

div.lista {
  max-height: 100%;
  overflow: scroll;
}

.lista img {
  max-width: 250px !important;
}

#personalizada {
  margin-top: 1em;
}

.select-wrapper {
  width: 50%;
  margin: 0 auto !important;
}
select {
  display: inline-block !important;
  font-size: 0.8rem;
  width: 60%;
  background: #dadfe2
}

span.irs {
  width: 96% !important;
}
