  <div class="loginContainer">
      <div class="loginTitle">Registro de usuario nuevo</div>
      <div class="fields-Container">
        <input type="text" id="newuser" placeholder="Usuario..." />
        <input type="password" id="newpass" placeholder="Contraseña..." />
        <button id="signup" class="loginButton">Registrar</button>
      </div>
    </div>
    <script src="js/jquery.js"></script>
    <script>
        var nombreUsuario = $('#user')
        var pass = $('#pass')
        $('.loginButton').on('click', function(event) {
            if (nombreUsuario.val() != "" && pass.val() != "") {
                $.post('/signup',{user: nombreUsuario.val(), pass: pass.val()}, function(response) {
                    if (response == "Validado") {
                        window.location.href = "http://localhost:8090/login"
                    }
                })
            } else {
                alert("Complete todos los campos")
            }
        })
    </script>